<h1>Private Page</h1>
<img width="500" src="https://cdn.vox-cdn.com/thumbor/kSNK5G9qOmu4E2Hg79c-NLtAhuQ=/0x0:1400x1400/620x413/filters:focal(588x588:812x812):gifv():no_upscale()/cdn.vox-cdn.com/uploads/chorus_image/image/68837730/poptart1redrainbowfix_1.0.gif">
<hr>
<a href="/profile">Back to Home</a>
<a href="/main">To Main Page</a>